.static {
    position: static;
    border: 2px solid;
    background-color: rgb(190, 121, 255);
}

.parent {
    background-color: red;
}

.child-one {
    position:absolute;
    top: 10px;
    background-color: darkgreen;
    color:#fff;
}
.child-two {
    background-color: yellow;
    
}
.child-three {
    background-color:orchid;
    
}


