.static {
    position: static;
    border: 2px solid;
    background-color: rgb(190, 121, 255);
}
.parent {
    background-color: red;
}
.child-one {
    top: 10px;
    background-color: darkgreen;
    color:#fff;
}
.child-two {
    background-color: yellow;
    position: fixed;
    top: 0;
    left: 0;
}
.child-three {
    background-color:orchid;

}


